$nav-up: #333;
$nav-down: #000;
$sec-color: #fff;
$sec-color-grey: #86868b;
$anchor-color: #06c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: $anchor-color;
}

.header {
  .shop {
    margin-top: 5.8rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    font-weight: normal;

    a {
      text-decoration: underline;
      font-size: 0.8rem;
      font-weight: normal;
    }
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    .nav-up {
      background-color: $nav-up;
      display: flex;
      align-items: center;
      gap: 0.54rem;
      padding: 0.4rem 0 0.4rem 4rem;
      font-size: 0.8rem;
      font-weight: 300;

      a {
        color: $sec-color;
      }
    }

    .nav-middle {
      background-color: $nav-down;
      display: flex;
      align-items: center;
      gap: 14rem;
      padding: 0.5rem 0 0.5rem 1.5rem;

      a {
        color: $sec-color;

        .fa-bars {
          font-size: 24px;
          opacity: 0.8;
        }

        img {
          width: 24px;
        }
      }
    }

    .nav-down {
      background-color: $nav-down;
      display: flex;
      align-items: center;
      gap: 4.5rem;
      padding: 0.5rem 0 0.5rem 10rem;
      font-size: 1rem;
      font-weight: 300;
      visibility: hidden;

      a {
        color: $sec-color;
      }
    }
  }
}

.product-section{
    height: 500px;
    background-image: url(/asset/heros/hero_bts__bcuslanw39xe_small_2x.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    .product-section-buy{
      padding-top: 2.7rem;
      h2{
          font-size: 1.9rem;
          font-weight: 600;
          letter-spacing: 0.0001em;
          word-spacing: 0.0001em;
          padding: 0.4rem 2.2rem;
          width: 350px;
          text-align: center;
          margin: 0 auto;
          line-height: 2.6rem;
      }
      a{
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
      }
  }
}

.section-iphone{
  height: 500px;
  background-image: url(/asset/heros/iphone_12_updated__jepm2xpxncuy_small_2x.jpg);
  background-position: bottom;
  background-size: cover;
  .iphone{
    margin: 0 auto;
    padding-top: 2rem;
    h2{
      font-size: 1.9rem;
      font-weight: 600;
      letter-spacing: 0.0001em;
      word-spacing: 0.0001em;
      width: 350px;
      text-align: center;
      margin: 0 auto;
      line-height: 2rem;
    }
    span{
      font-size: 1.3rem;
      font-weight: 200;
      letter-spacing: normal;
      padding: 0.8rem 0 ;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
    p{
      font-size: 0.8rem;
      line-height: 1rem;
      padding: 0.8rem 0.5rem;
      text-align: center;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      letter-spacing: 0.01em;
    }
    .anchors{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.65rem;
        font-size: 0.9rem;
      }
    }
  }
}

.section-iphone-pro{
  height: 500px;
  background-image: url(/asset/heros/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg);
  background-position: bottom;
  background-size: cover;
  .iphone-pro{
    margin: 0 auto;
    padding-top: 2rem;
    h2{
      font-size: 1.9rem;
      font-weight: 600;
      letter-spacing: 0.0001em;
      word-spacing: 0.0001em;
      width: 350px;
      text-align: center;
      margin: 0 auto;
      line-height: 2rem;
      color: $sec-color;
    }
    span{
      font-size: 1.3rem;
      font-weight: 200;
      letter-spacing: normal;
      padding: 0.8rem 0 ;
      margin: 0 auto;
      text-align: center;
      display: block;
      color: $sec-color;
    }
    p{
      font-size: 0.8rem;
      line-height: 1rem;
      font-weight: 400;
      padding: 0.8rem 0.5rem;
      text-align: center;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      letter-spacing: 0.02em;
      color: $sec-color-grey;
    }
    .anchors{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.65rem;
        font-size: 0.9rem;
      }
    }
  }
}